h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

/*-------------------MAIN CONTENT GLOBAL-------------------*/

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  margin: 2rem;
}
