.delete-button,
.update-button {
  width: 60%;
  max-width: 100px;
  border-radius: 0.3rem;
  border: 1px solid;
  padding: 0.4rem 0;
  font-weight: 600;
}

.delete-button:hover {
  background-color: #800505;
}

.update-button:hover {
  background-color: #dcb3cf;
}

.delete-button {
  background-color: #ff1414;
}

.update-button {
  background-color: #edd0e4;
}

@media (min-width: 600px) {
  .delete-button,
  .update-button {
    font-size: 1rem;
  }
}
