.profile-username {
  text-align: center;
}

.hidden {
  display: none;
}

.post-title {
  height: 3rem;
}

.profile-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 4rem;
  max-width: 900px;
}

.profile-post-container {
  display: flex;
  flex-direction: column;
  background-color: #d8a48f;
}

.profile-img-container img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

@media (min-width: 600px) {
  .profile-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .profile-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
